<div class="w-full h-60 bg-slate-200 rounded mb-4">
    <h1 class="text-center text-5xl py-5">Najważniejsze wydarzenia ZSE</h1>
    <nav class="flex space-x-5 justify-evenly">
        <a routerLink="/eventsList" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-4xl tracking-wide lexend">Lista</a>
        <a routerLink="/adminPanel" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-4xl tracking-wide lexend">Admin</a>
    </nav>
</div>
<router-outlet></router-outlet>