<div class="w-full grid justify-items-center">
    <app-event-form class="m-4 w-11/12 mb-10"></app-event-form>
    <div class="w-11/12">
        <ul class="w-full h-14 flex border-2 border-black bg-slate-300 rounded-t">
            <li class="w-1/12 text-2xl text-center font-bold">Id</li>
            <li class="w-3/12 text-2xl text-center font-bold">Nazwa</li>
            <li class="w-2/12 text-2xl text-center font-bold">Data</li>
            <li class="w-5/12 text-2xl text-center font-bold">Opis</li>
            <li class="w-1/12 text-2xl text-center font-bold"></li>
        </ul>
        <ng-container *ngFor="let event of eventsList">
            <div>
                <ul class="w-full h-14 flex text-xl">
                    <li class="w-1/12 text-center border-2 border-black">{{event.id}}</li>
                    <li class="w-3/12 text-center border-2 border-black line-clamp-2">{{event.name}}</li>
                    <li class="w-2/12 text-center border-2 border-black">{{event.date | date: 'shortDate'}}</li>
                    <li class="w-5/12 text-center border-2 border-black line-clamp-2">{{event.description}}</li>
                    <li class="w-1/12 text-center font-bold border-2 border-black flex flex-col">
                        <button (click)="deleteEvent(event)">X</button>
                        <button>Edit</button>
                    </li>
                </ul>
            </div>
        </ng-container>
    </div>
</div>